name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  ci:
    uses: systemic-engineer/ci/.github/workflows/elixir-matrix.yml@main
    with:
      matrix: |
        [
          {"elixir": "1.18", "otp": "27.0", "alpine": "3.20"},
          {"elixir": "1.17", "otp": "27.0", "alpine": "3.20"},
          {"elixir": "1.16", "otp": "26.2", "alpine": "3.20"}
        ]
